{% extends 'account/main.html' %}

{% block content %}
    {% include 'account/status.html' %}

    <br>

    <div class="row">
        <div class="col-md-5">
            <h5>CUSTOMERS:</h5>
            <hr>
            <div class="card card-body">
                <a href="" class="btn btn-primary btn-sm btn-block">Create customer</a>
                <table class="table table-sm">
                    <tr>
                        <th></th>
                        <th>Customer</th>
                        <th>Phone</th>
                    </tr>
                    {% for x in customers %}
                        <tr>
                            <td><a href="{% url 'customer' x.id %}" class="btn btn-sm btn-info">View</a></td>
                            <td>{{ x.name }}</td>
                            <td>{{ x.phone }}</td>
                        </tr>
                    {% endfor %}

                </table>
            </div>
        </div>
        <div class="col-md-7">
            <h5>Last 5 orders:</h5>
            <hr>
            <div class="card card-body">
                <table class="table table-sm">
                    <tr>
                        <th>product</th>
                        <th>date ordered</th>
                        <th>status</th>
                        <th>update</th>
                        <th>remove</th>
                    </tr>
                    {% for order in orders %}
                        <tr>
                            <td>{{ order.product }}</td>
                            <td>{{ order.date_created }}</td>
                            <td>{{ order.status }}</td>
                            <td><a href="{% url 'update_form' order.id %}"
                                    class="btn btn-sm btn-info">update</a></td>
                            <td><a href="{% url 'delete_form' order.id %}"
                                    class="btn btn-sm btn-danger">delete</a></td>
                        </tr>
                    {% endfor %}

                </table>
            </div>
        </div>
    </div>

{% endblock %}