{% extends 'account/main.html' %}
{% block content %}
    {% include 'account/status.html' %}
    <br>
    <div class="row">
        <div class="col">
            <div class="card card-body">
                <table class="table table-sm">
                    <tr>
                        <th>product</th>
                        <th>category</th>
                        <th>note</th>
                        <th>date ordered</th>
                        <th>status</th>
                    </tr>
                    {% for order in orders %}
                        <tr>
                            <td>{{ order.product }}</td>
                            <td>{{ order.product.category }}</td>
                            <td>{{ order.note }}</td>
                            <td>{{ order.date_created }}</td>
                            <td>{{ order.status }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>


{% endblock %}
