{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static '/css/base.css' %}">
	<title>welcome! client</title>
</head>
<body>

<div class="main">
	<div class="goto-container">
		<span class="signup"><a href="{% url 'register' %}">sign up</a></span>
		<span class="login"><a href="{% url 'login' %}">login</a></span>
	</div>
	<div class="content">
		<div class="main-para">
			<h1>Welcome to this Customer Registration & Management website!</h1>
			<p>Here is your list of objectives:
				<ul>
					<li>Lay out the Content & Sidebar</li>
					<li>Create proper margins & spacing around items</li>
					<li>Import & Use a Custom Font</li>
					<li>Color Scheme: Blue & Orange (Use however you see fit!)</li>
					<li>Style text appropriately</li>
					<li>Change the background color of the sidebar</li>
					<li>Style image grid however you see fit</li>
					<li>Create borders around each sidebar items</li>
					<li>Create grid/flexbox for image and text under 'Subtitle 1'</li>
					<li>Image grow on hover</li>
					<li>Link color change on hover</li>
					<li>Page animation sequence for main items (Content, sidebar)</li>
					<li>Now you can start the BackEnd!!!. feel free to customize it to your taste.</li>
					<li>for Source code visit <a href="http://github.com/ifechigo/">HERE</a></li>
				</ul>
			Do not feel limited by the objectives! Change or append anything you like. Good Luck!
			</p>
		</div>

		<div class="para-1">
			<h2>Subtitle 1</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat.</p>
			<img src="../static/images/img-1.jpg">
		</div>

		<div class="para-2">
			<h2>Subtitle 2</h2>
				<p>Commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

			<h2>Topic 1</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua:
					<ol>
						<li>Lorem</li>
						<li>ipsum</li>
						<li>dolor</li>
						<li>sit</li>
						<li>amet consectetur adipisicing elit!</li>
					</ol>
				</p>
		</div>

		<div class="image-grid">
			<img src="../static/images/img-2.jpg">
			<img src="../static/images/img-3.jpg">
			<img src="../static/images/img-4.jpg">
			<img src="../static/images/img-5.jpg">
			<img src="../static/images/img-6.jpg">
			<img src="../static/images/img-7.jpg">
			<img src="../static/images/img-8.jpg">
			<img src="../static/images/img-9.jpg">
			<img src="../static/images/img-10.jpg">
		</div>
	</div>
	<div class="sidebar">
		<div>
			<h2>Post 1</h2>

			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do.</p>

			<a href="http://www.google.com">Lorem ipsum dolor sit amet</a>
		</div>

		<div>
			<h2>Post 2</h2>

			<p>Eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

			<a href="http://www.google.com">Lorem ipsum dolor sit amet</a>
		</div>

		<div>
			<h2>Post 3</h2>

			<p>Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris.</p>

			<a href="http://www.google.com">Lorem ipsum dolor sit amet</a>
		</div>

		<div>
			<h2>Post 4</h2>

			<p>Nisi ut aliquip ex ea commodo
			consequat, nuis aute irure.</p>

			<a href="http://www.google.com">Lorem ipsum dolor sit amet</a>
		</div>

		<div>
			<h2>Post 5</h2>

			<p>Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.</p>

			<a href="http://www.google.com">Lorem ipsum dolor sit amet</a>
		</div>

		<div>
			<h2>Post 6</h2>

			<p>Sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

			<a href="http://www.google.com">Lorem ipsum dolor sit amet</a>
		</div>
	</div>
</div>

</body>
</html>